@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Hairline.woff2");
  font-weight: 50;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Thin.woff2");
  font-weight: 100;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-UltraLight.woff2");
  font-weight: 200;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-DemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-ExtraBold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Black.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-ExtraBlack.woff2");
  font-weight: 910;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Heavy.woff2");
  font-weight: 950;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-fat.woff2");
  font-weight: 990;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Hairline.woff2");
  font-weight: 50;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Thin.woff2");
  font-weight: 100;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-UltraLight.woff2");
  font-weight: 200;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-DemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-ExtraBold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Black.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-ExtraBlack.woff2");
  font-weight: 910;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-Heavy.woff2");
  font-weight: 950;
}
@font-face {
  font-family: "danaweb";
  src: url("fonts/danafn/DanaFaNum-fat.woff2");
  font-weight: 990;
}
body {
  font-family: danaweb !important;
  direction: rtl !important;
  margin: 0;
  overflow-x: hidden !important;
  width: 100% !important;
  font-size: 15px;
  padding: 0;
  color: #3f3f3f !important;
  background-color: #f7f7f7;
}

* {
  box-sizing: border-box;
  direction: rtl;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6, input, textarea {
  font-family: danaweb !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #003470 !important;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

.lowMargined {
  margin: 7px 0;
}

.mediumMargined {
  margin: 15px 0;
}

.highMargined {
  margin: 30px 0;
}

.extraHighMargined {
  margin: 60px 0;
}

.lowPadding {
  padding: 7px;
}

.mediumPadding {
  padding: 15px;
}

.highPadding {
  padding: 30px;
}

.sectionPadding {
  padding: 50px 0;
}

.centeredText {
  text-align: center;
}

.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.generalHeading h1, .generalHeading h2, .generalHeading h3, .generalHeading h4, .generalHeading h5, .generalHeading h6 {
  margin: 0;
}

.bigHeading h1, .bigHeading h2, .bigHeading h3, .bigHeading h4, .bigHeading h5, .bigHeading h6 {
  font-size: 35px;
}

.mediumWeight {
  font-weight: 500;
}

p {
  line-height: 27px;
  color: #3f3f3f;
  margin-top: 0;
  margin-bottom: 20px;
}

.justified {
  text-align: justify;
}

.lightParagraph {
  font-weight: 300;
}

.lightText {
  color: #A1A1A1;
}

.darkText {
  color: #212120;
}

.smallText {
  font-size: 13px;
}

.smallerText {
  font-size: 12px;
}

.bottomBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.lowRadius {
  border-radius: 15px;
}

.highRadius {
  border-radius: 25px;
}

.darkBorder {
  border: 1px solid #212120;
}

.lightBorder {
  border: 1px solid #A1A1A1;
}

button {
  font-family: danaweb !important;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #A1A1A1;
}
table th {
  text-align: right;
  border: 1px solid rgba(13, 84, 131, 0.1);
  padding: 12px;
}
table tr:nth-child(2n+1) {
  background-color: rgba(226, 229, 252, 0.3);
}
table td {
  font-size: 13.5px;
  padding: 8px 4px;
  font-weight: 400;
  border: 1px solid rgba(13, 84, 131, 0.1);
  padding: 15px 10px;
}
table td strong {
  font-weight: 600;
}

.mainView {
  max-width: 1280px;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 1280px) {
  .mainView {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

a, a:visited {
  text-decoration: none;
  color: #003470;
}

li {
  list-style-type: none;
  margin: 7px 0;
  position: relative;
  padding-right: 12px;
}
li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #3f3f3f;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
}

.lightListStyle::before {
  background-color: #A1A1A1;
}

.noListStyle {
  padding-right: 0;
}
.noListStyle::before {
  display: none;
}

.checkListStyle {
  padding-right: 20px;
}
.checkListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2340b819' width='14' height='14' viewBox='0 0 512 512'%3E%3Cpath d='M172.2 434.6a39.3 39.3 0 0 1-28.1-11.6L22.9 301.9a33.4 33.4 0 1 1 47.2-47.2l102.1 102.2L441.9 87.1a33.4 33.4 0 0 1 47.2 47.2L200.4 423a39.7 39.7 0 0 1-28.2 11.6Z'/%3E%3C/svg%3E");
  width: 14px;
  height: 14px;
  background-color: initial;
}

.crossListStyle {
  padding-right: 20px;
}
.crossListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b82819' width='12' height='12' viewBox='0 0 512 512'%3E%3Cpath d='M312.2 255.8 482 86a33.5 33.5 0 1 0-47.4-47.4L264.8 208.4 95 38.6a33.5 33.5 0 0 0-47.4 0 33.5 33.5 0 0 0 0 47.4l169.8 169.8L47.6 425.6a33.5 33.5 0 0 0 0 47.4 33.5 33.5 0 0 0 47.4 0l169.8-169.8L434.6 473a33.5 33.5 0 0 0 47.4 0 33.5 33.5 0 0 0 0-47.4Z'/%3E%3C/svg%3E");
  width: 12px;
  height: 17px;
  background-color: initial;
}

.arrowListStyle {
  padding-right: 22px;
}
.arrowListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233f3f3f' width='16' height='16' viewBox='0 0 512 512'%3E%3Cpath d='M256 493.4a237.3 237.3 0 1 1 167.9-69.5A236.2 236.2 0 0 1 256 493.4Zm0-424.8C152.7 68.6 68.6 152.7 68.6 256S152.7 443.4 256 443.4 443.4 359.3 443.4 256 359.3 68.6 256 68.6Zm-23.6 283.2a24.9 24.9 0 0 1-17.7-7.3l-70.8-70.8h-.1a.1.1 0 0 0-.1-.1h-.2a23.2 23.2 0 0 1-4.9-7.5h-.1a24.7 24.7 0 0 1-1.9-9.4 24.8 24.8 0 0 1 2-9.5h.1a21.3 21.3 0 0 1 2.3-4.2 19.5 19.5 0 0 1 1.7-2.3h.1a8 8 0 0 1 1.3-1.3l70.6-70.7a25 25 0 0 1 35.4 35.4L222 231h128.4a25 25 0 0 1 0 50H222l28.1 28.1a25.2 25.2 0 0 1 0 35.4 24.9 24.9 0 0 1-17.7 7.3Z'/%3E%3C/svg%3E");
  width: 16px;
  height: 19px;
  background-color: initial;
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
  text-align: right;
  width: 100%;
}

input {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px 20px;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url] {
  border: none;
  background-color: #f7f7f7;
  border-radius: 45px;
  color: #3f3f3f;
  font-size: 14px;
  border: 1px solid #d5d5d5;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder {
  color: #3f3f3f;
  opacity: 0.25;
}
input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=email]:-moz-placeholder, input[type=tel]:-moz-placeholder, input[type=url]:-moz-placeholder {
  color: #3f3f3f;
  opacity: 0.25;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=url]::-moz-placeholder {
  color: #3f3f3f;
  opacity: 0.25;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder {
  color: #3f3f3f;
  opacity: 0.25;
}
input[type=checkbox] {
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}
input[type=submit] {
  background-color: #212120;
  color: #fff;
  border: none;
  font-weight: 500;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 45px;
  font-size: 14px;
}
input[type=submit]:hover {
  background-color: #333332;
}
input:focus {
  outline: none;
}

textarea {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px 20px;
  resize: none;
  border-radius: 15px;
  background-color: #f7f7f7;
  border: none;
  color: #212120;
  font-size: 14px;
  border: 1px solid #d5d5d5;
}
textarea::-webkit-input-placeholder {
  color: #3f3f3f;
  opacity: 0.25;
}
textarea:-moz-placeholder {
  color: #3f3f3f;
  opacity: 0.25;
}
textarea::-moz-placeholder {
  color: #3f3f3f;
  opacity: 0.25;
}
textarea:-ms-input-placeholder {
  color: #3f3f3f;
  opacity: 0.25;
}
textarea:focus {
  outline: none;
}

select {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #d5d5d5;
  font-family: danaweb;
  background-color: transparent;
}
select option {
  font-family: danaweb;
}

.generalButton {
  background-color: #212120;
  border-radius: 45px;
  position: relative;
  color: #fff !important;
  padding: 10px 25px;
  font-size: 14.5px;
  display: block;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.4s;
  border: none;
  cursor: pointer;
}
.generalButton:hover {
  background-color: #333332;
}

.noArrowButton {
  padding: 10px 25px;
}
.noArrowButton::before {
  display: none;
}
.noArrowButton::after {
  display: none;
}

.outlineButton {
  background-color: transparent;
  color: #212120 !important;
  border: 1px solid #212120;
}
.outlineButton::before {
  background-color: #f7f7f7;
}
.outlineButton:hover {
  background-color: #efefef;
}

.borderNoneButton {
  border: none;
  color: #212120 !important;
  background-color: #fff;
}
.borderNoneButton:hover {
  background-color: #efefef;
}

.siteMessage {
  position: relative;
  background-color: #FFF3CD;
  display: block;
  width: 100%;
  padding: 15px 45px 15px 15px;
  margin: 15px 0;
  border-radius: 7px;
}
.siteMessage::before {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.warningMessage {
  background-color: #FFF3CD;
  border: 1px solid rgba(81, 64, 11, 0.15);
  color: #51400B;
}
.warningMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%2351400B' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.143 13.577a1.857 1.857 0 1 1 3.715 0 1.857 1.857 0 0 1-3.715 0zm.181-11.153a1.681 1.681 0 1 1 3.345 0l-.651 6.515a1.026 1.026 0 0 1-2.043 0l-.65-6.515z'/%3E%3C/svg%3E");
}

.successMessage {
  background-color: #D1E7DD;
  border: 1px solid rgba(17, 70, 46, 0.15);
  color: #11462e;
}
.successMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%2311462E' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 236.988 236.988' style='enable-background:new 0 0 236.988 236.988' xml:space='preserve'%3E%3Cpath d='M194.953 28.046 88.766 134.234 42.035 87.504 4.681 124.859l84.085 84.083L232.307 65.401z'/%3E%3C/svg%3E");
}

.errorMessage {
  background-color: #F8D7DA;
  border: 1px solid rgba(93, 20, 26, 0.15);
  color: #5d141a;
}
.errorMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%235d141a' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath d='M61.403 10.997 53.003 2.597 32 23.6 10.997 2.597 2.597 10.997 23.6 32 2.597 53.003 10.997 61.403 32 40.4 53.003 61.403 61.403 53.003 40.4 32z'/%3E%3C/svg%3E");
}

.informMessage {
  background-color: #CFF4FC;
  border: 1px solid rgba(14, 65, 76, 0.15);
  color: #0e414c;
}
.informMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%230e414c' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.063 30.063' style='enable-background:new 0 0 30.063 30.063' xml:space='preserve'%3E%3Cpath d='m17.577 26.354 2.343.124v3.286h-9.778v-3.124l1.356-.123c.739-.084 1.191-.329 1.191-1.315V13.781c0-.908-.247-1.195-1.028-1.195l-1.437-.08V9.096h7.353v17.258zM14.703.299c1.808 0 3.124 1.359 3.124 3.083 0 1.728-1.315 3.001-3.165 3.001-1.889 0-3.124-1.275-3.124-3.001 0-1.725 1.235-3.083 3.165-3.083z'/%3E%3C/svg%3E");
}

.alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em;
}

select {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: none;
  font-family: danaweb;
  background-color: #f4f5fc;
  border-radius: 45px;
  color: #3f3f3f;
  font-size: 14px;
}

.lightBg {
  background-color: #A1A1A1;
}

.darkBg {
  background-color: #3f3f3f;
}
.darkBg p, .darkBg span, .darkBg h1, .darkBg h2, .darkBg h3, .darkBg h4, .darkBg h5, .darkBg h6 {
  color: #fff !important;
}

.mainHeaderBack {
  padding: 15px 0;
  background-color: #fff;
}
@media screen and (max-width: 480px) {
  .mainHeaderBack {
    padding: 5px 0;
  }
}
.mainHeaderBack .mainHeader .menuSectionUp {
  display: flex;
  align-items: center;
}
.mainHeaderBack .mainHeader .menuSectionUp .logoSection svg {
  display: block;
  height: 60px;
  width: 60px;
}
.mainHeaderBack .mainHeader .menuSectionUp .callNumberHeader {
  background-color: #0055b6;
  display: flex;
  align-items: center;
  margin-right: auto;
}
@media screen and (max-width: 480px) {
  .mainHeaderBack .mainHeader .menuSectionUp .callNumberHeader {
    display: none;
  }
}
.mainHeaderBack .mainHeader .menuSectionUp .callNumberHeader span {
  margin: 5px 0px 0px 5px;
}
.mainHeaderBack .mainHeader .menuSectionUp .mobMenuIcons {
  display: none;
}
@media screen and (max-width: 480px) {
  .mainHeaderBack .mainHeader .menuSectionUp .mobMenuIcons {
    display: flex !important;
    align-items: center;
    margin-right: auto;
  }
  .mainHeaderBack .mainHeader .menuSectionUp .mobMenuIcons a {
    margin-left: 8px;
  }
  .mainHeaderBack .mainHeader .menuSectionUp .mobMenuIcons a svg {
    display: block;
  }
}
.mainHeaderBack .mainHeader .menuSectionDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}
@media screen and (max-width: 480px) {
  .mainHeaderBack .mainHeader .menuSectionDown {
    display: none;
  }
}
.mainHeaderBack .mainHeader .menuSectionDown .mainMenu ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.mainHeaderBack .mainHeader .menuSectionDown .mainMenu ul li {
  margin: 0;
  padding: 0;
}
.mainHeaderBack .mainHeader .menuSectionDown .mainMenu ul li::before {
  content: none;
}
.mainHeaderBack .mainHeader .menuSectionDown .mainMenu ul li a {
  padding: 5px 10px;
  cursor: pointer;
  color: #3f3f3f !important;
  font-weight: 500;
}
.mainHeaderBack .mainHeader .menuSectionDown .accountCartSection {
  display: flex;
}
.mainHeaderBack .mainHeader .menuSectionDown .accountCartSection a {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.mainHeaderBack .mainHeader .menuSectionDown .accountCartSection a span {
  margin-right: 5px;
}

.mobMenuStickyParent {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: -65px;
  transition: all 0.3s;
  z-index: 999;
  padding: 5px 0;
  background-color: #fff;
  display: none;
}
@media screen and (max-width: 480px) {
  .mobMenuStickyParent {
    display: block;
  }
}
.mobMenuStickyParent .mobMenuSticky {
  display: flex;
  align-items: center;
}
.mobMenuStickyParent .mobMenuSticky .logoSection svg {
  display: block;
  width: 55px;
  height: 55px;
}
.mobMenuStickyParent .mobMenuSticky .mobMenuIcons {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.mobMenuStickyParent .mobMenuSticky .mobMenuIcons a {
  margin-left: 5px;
}
.mobMenuStickyParent .mobMenuSticky .mobMenuIcons a svg {
  display: block;
}

.showStickyHeader {
  top: 0;
}

.single-product .singleProductBack .singleProductSummary {
  display: flex;
  justify-content: space-between;
  background-color: #fff !important;
  padding: 45px 30px;
  flex-flow: row-reverse;
  margin-top: 10px;
}
@media screen and (max-width: 480px) {
  .single-product .singleProductBack .singleProductSummary {
    flex-flow: row;
    flex-wrap: wrap;
  }
}
.single-product .singleProductBack .singleProductSummary .woocommerce-product-gallery {
  width: 65%;
  display: flex;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .single-product .singleProductBack .singleProductSummary .woocommerce-product-gallery {
    width: 100% !important;
    display: block;
  }
  .single-product .singleProductBack .singleProductSummary .woocommerce-product-gallery img {
    width: -moz-max-content;
    width: max-content;
    height: auto;
  }
}
.single-product .singleProductBack .singleProductSummary .woocommerce-product-gallery .flex-viewport {
  width: 75%;
}
@media screen and (max-width: 480px) {
  .single-product .singleProductBack .singleProductSummary .woocommerce-product-gallery .flex-viewport {
    width: 100%;
  }
}
.single-product .singleProductBack .singleProductSummary .woocommerce-product-gallery .flex-control-thumbs {
  display: flex;
  flex-direction: column;
  width: 25%;
}
@media screen and (max-width: 480px) {
  .single-product .singleProductBack .singleProductSummary .woocommerce-product-gallery .flex-control-thumbs {
    flex-direction: inherit;
    width: 100%;
  }
}
.single-product .singleProductBack .singleProductSummary .woocommerce-product-gallery .flex-control-thumbs li {
  width: 100%;
  margin-bottom: 18px;
}
.single-product .singleProductBack .singleProductSummary .woocommerce-product-gallery .flex-control-thumbs li::before {
  content: none;
}
@media screen and (max-width: 480px) {
  .single-product .singleProductBack .singleProductSummary .woocommerce-product-gallery .flex-control-thumbs li {
    margin: 15px 0px;
  }
}
.single-product .singleProductBack .singleProductSummary .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  display: none;
}
.single-product .singleProductBack .singleProductSummary .woocommerce-product-gallery img {
  border: 1px solid #A1A1A1;
  border-radius: 15px;
}
.single-product .singleProductBack .singleProductSummary .entry-summary {
  width: 40%;
}
@media screen and (max-width: 480px) {
  .single-product .singleProductBack .singleProductSummary .entry-summary {
    width: 100% !important;
  }
}
.single-product .singleProductBack .singleProductSummary .entry-summary .woocommerce-product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 15px !important;
}
.single-product .singleProductBack .singleProductSummary .entry-summary .woocommerce-product-rating .star-rating {
  margin: 0px 5px 5px 5px;
}
.single-product .singleProductBack .singleProductSummary .entry-summary .price {
  color: #0055b6 !important;
}
@media screen and (max-width: 480px) {
  .single-product .singleProductBack .singleProductSummary .entry-summary .price {
    font-size: 15px;
  }
}
.single-product .singleProductBack .singleProductSummary .entry-summary .woocommerce-product-details__short-description h4 {
  margin: 10px 0;
  font-size: 16px;
  color: #3f3f3f !important;
}
.single-product .singleProductBack .singleProductSummary .entry-summary .woocommerce-product-details__short-description ul {
  margin: 0;
  padding: 0 10px;
}
@media screen and (max-width: 480px) {
  .single-product .singleProductBack .singleProductSummary .entry-summary .woocommerce-product-details__short-description h4, .single-product .singleProductBack .singleProductSummary .entry-summary .woocommerce-product-details__short-description ul {
    font-size: 14px;
  }
}
.single-product .singleProductBack .singleProductSummary .entry-summary form .variations tbody {
  display: flex;
}
@media screen and (max-width: 480px) {
  .single-product .singleProductBack .singleProductSummary .entry-summary form .variations tbody {
    display: block;
  }
}
.single-product .singleProductBack .singleProductSummary .entry-summary form .variations tbody tr {
  background: none;
  display: flex;
}
.single-product .singleProductBack .singleProductSummary .entry-summary button[type=submit] {
  background-color: #212120 !important;
  color: #fff;
  border: none;
  font-weight: 500;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 45px;
  font-size: 14px;
  opacity: 1;
}
.single-product .singleProductBack .singleProductSummary .entry-summary button[type=submit]:hover {
  background-color: #3b3b39;
}
.single-product .related {
  padding: 15px;
}
.single-product .related ul.products {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 20px;
}
.single-product .related ul.products::before {
  content: none;
}
@media screen and (max-width: 480px) {
  .single-product .related ul.products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
  }
}
.single-product .related ul.products li.product {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 25px;
  width: 100%;
  margin: 0;
  position: relative;
  transition: all 0.4s;
}
.single-product .related ul.products li.product::before {
  content: none;
}
@media screen and (max-width: 480px) {
  .single-product .related ul.products li.product {
    width: 100% !important;
    margin-bottom: 0 !important;
    position: unset;
    padding: 8px;
  }
}
@media screen and (max-width: 480px) {
  .single-product .related ul.products li.product a {
    display: flex;
    flex-direction: column;
  }
}
.single-product .related ul.products li.product a img {
  border: 1px solid #A1A1A1;
  border-radius: 25px;
  width: 260px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px auto 10px auto;
}
@media screen and (max-width: 480px) {
  .single-product .related ul.products li.product a img {
    width: auto;
    height: auto;
  }
}
.single-product .related ul.products li.product a .woocommerce-loop-product__title {
  text-align: center;
  color: #3f3f3f !important;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  .single-product .related ul.products li.product a .woocommerce-loop-product__title {
    font-size: 16px;
    line-height: 18px;
  }
}
.single-product .related ul.products li.product a .star-rating {
  margin: 0px auto 45px auto;
}
@media screen and (max-width: 480px) {
  .single-product .related ul.products li.product a .star-rating {
    margin: 0px auto 10px auto;
    font-size: 10px;
  }
}
.single-product .related ul.products li.product a .price {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #0055b6 !important;
}
@media screen and (max-width: 480px) {
  .single-product .related ul.products li.product a .price {
    position: unset;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
  }
}
.single-product .related ul.products li.product .product_type_variable {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  padding: 10px;
  background-color: #3f3f3f;
  transition: all 0.4s;
}
.single-product .related ul.products li.product .product_type_variable:hover {
  background-color: #282828 !important;
}
@media screen and (max-width: 480px) {
  .single-product .related ul.products li.product .product_type_variable {
    position: unset;
    margin-right: auto;
    margin-top: 0 !important;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}

.singleProductSectionsBack .singleProductSections {
  background-color: #fff;
}
.singleProductSectionsBack .singleProductSections .woocommerce-tabs .wc-tabs {
  margin: 0 !important;
  padding: 10px 15px !important;
  position: unset !important;
  background-color: #c3d5e9;
  border-radius: 15px 15px 0px 0px;
  display: flex;
}
.singleProductSectionsBack .singleProductSections .woocommerce-tabs .wc-tabs li {
  border: none !important;
  background-color: transparent !important;
  margin-left: 40px !important;
  position: relative;
  padding: 0;
}
.singleProductSectionsBack .singleProductSections .woocommerce-tabs .wc-tabs li::after {
  position: absolute;
  content: "";
  width: 100% !important;
  height: 2px !important;
  background-color: #A1A1A1 !important;
  bottom: -16px !important;
  left: 0 !important;
  right: 0 !important;
  margin-right: auto !important;
  margin-left: auto !important;
  border-bottom-right-radius: 0 !important;
  border-width: 0 !important;
  box-shadow: none !important;
}
.singleProductSectionsBack .singleProductSections .woocommerce-tabs .wc-tabs li::before {
  display: none !important;
}
.singleProductSectionsBack .singleProductSections .woocommerce-tabs .wc-tabs li a {
  color: #003470 !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
@media screen and (max-width: 768px) {
  .singleProductSectionsBack .singleProductSections .woocommerce-tabs .wc-tabs li a {
    font-size: 12px !important;
  }
}
.singleProductSectionsBack .singleProductSections .woocommerce-tabs .wc-tabs li.active::after {
  background-color: #003470 !important;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel {
  padding: 15px;
}
@media screen and (max-width: 480px) {
  .singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel {
    padding: 0;
  }
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel p {
  text-align: justify;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews {
  padding: 10px;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-reply-title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews #comments {
  display: flex;
  justify-content: center;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews #comments .woocommerce-Reviews-title {
  display: none;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews #comments .commentlist {
  background: #f7f7f7 !important;
  margin: 15px 0 30px 0 !important;
  padding: 20px;
  border-radius: 15px;
}
@media screen and (max-width: 480px) {
  .singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews #comments .commentlist {
    padding: 10px;
  }
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews #comments .commentlist li::before {
  content: none !important;
}
@media screen and (max-width: 480px) {
  .singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews #comments .commentlist li .children {
    margin: 20px 0 0 0 !important;
  }
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews #comments .commentlist li .comment_container img {
  border-radius: 100%;
  border: none !important;
  background: none !important;
  width: 40px !important;
  top: 25px !important;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews #comments .commentlist li .comment_container .comment-text {
  border: none !important;
}
@media screen and (max-width: 480px) {
  .singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews #comments .commentlist li .comment_container .comment-text {
    margin-right: 30px !important;
  }
}
@media screen and (max-width: 480px) {
  .singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews #comments .commentlist li .comment_container .comment-text .star-rating {
    font-size: 11px;
  }
}
@media screen and (max-width: 480px) {
  .singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews #comments .commentlist li .comment_container .comment-text .description p {
    font-size: 13.5px;
  }
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .comment-notes {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .comment-notes {
    width: 100%;
  }
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-rating {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-rating {
    width: 100%;
  }
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-author, .singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-email {
  width: 48%;
}
@media screen and (max-width: 768px) {
  .singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-author, .singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-email {
    width: 100%;
  }
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-comment {
  width: 100%;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-comment textarea {
  margin: 0 !important;
  height: 200px !important;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .form-submit {
  width: 100%;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .form-submit input {
  background-color: #212120 !important;
  border-radius: 30px !important;
  padding: 20px 30px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  transition: all 0.3s;
  color: #fff !important;
  width: 100% !important;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .form-submit input:hover {
  background-color: #333332;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-cookies-consent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-cookies-consent label {
  margin-bottom: 0;
}
.singleProductSectionsBack .singleProductSections .woocommerce-Tabs-panel .woocommerce-Reviews .comment-respond .comment-form .comment-form-cookies-consent #wp-comment-cookies-consent {
  margin-left: 10px;
}

.woocommerce-breadcrumb {
  max-width: 1280px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 30px !important;
  color: #003470 !important;
  font-weight: 500;
}

.star-rating span:before,
.star-rating::before,
p.stars a:hover:after,
p.stars a:after {
  color: #ffde6b !important;
}

.woocommerce-cart .woocommerce {
  display: flex;
}

.mainFooterBack {
  background-color: #fff;
}
.mainFooterBack .mainFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px 0;
}
.mainFooterBack .mainFooter .footerColumnOne {
  width: 45%;
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .footerColumnOne {
    width: 100%;
  }
}
.mainFooterBack .mainFooter .footerColumnTwo {
  width: 12%;
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .footerColumnTwo {
    width: 100%;
  }
}
.mainFooterBack .mainFooter .footerColumnTwo li a {
  color: #3f3f3f;
}
.mainFooterBack .mainFooter .footerColumnThree {
  width: 23%;
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .footerColumnThree {
    width: 100%;
  }
}
.mainFooterBack .mainFooter .footerColumnThree .contactUsFooter {
  display: flex;
  flex-wrap: wrap;
}
.mainFooterBack .mainFooter .footerColumnThree .contactUsFooter a {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  color: #3f3f3f;
}
.mainFooterBack .mainFooter .footerColumnThree .contactUsFooter a svg {
  margin-left: 5px;
}
.mainFooterBack .mainFooter a {
  transition: all 0.4s;
}
.mainFooterBack .mainFooter a:hover {
  color: #727272 !important;
}

.copyRightSectionBack {
  background-color: #fff;
}
.copyRightSectionBack .copyRightSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d5d5d5;
  padding: 15px 0;
}
.copyRightSectionBack .copyRightSection p {
  font-size: 13px;
}
@media screen and (max-width: 480px) {
  .copyRightSectionBack .copyRightSection p {
    font-size: 12px;
    order: 2;
    text-align: center;
    margin-top: 8px;
    line-height: 20px;
  }
}
.copyRightSectionBack .copyRightSection .changeColor {
  color: #003470;
  transition: all 0.4s;
  font-weight: 500;
}
.copyRightSectionBack .copyRightSection .changeColor:hover {
  color: #0055b6;
}
.copyRightSectionBack .copyRightSection .iconSocialSection {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .copyRightSectionBack .copyRightSection .iconSocialSection {
    order: 1;
  }
}
.copyRightSectionBack .copyRightSection .iconSocialSection a {
  display: inline-block;
  margin-right: 10px;
}
.copyRightSectionBack .copyRightSection .iconSocialSection a svg {
  display: block;
}

.shopPageSectionUp .shopPageBanners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.shopPageSectionUp .shopPageBanners a:nth-child(1) {
  width: 55%;
  height: 300px;
}
@media screen and (max-width: 480px) {
  .shopPageSectionUp .shopPageBanners a:nth-child(1) {
    width: 100%;
    height: auto;
  }
}
.shopPageSectionUp .shopPageBanners a:nth-child(2) {
  width: 43%;
  height: 300px;
}
@media screen and (max-width: 480px) {
  .shopPageSectionUp .shopPageBanners a:nth-child(2) {
    display: none;
  }
}

.generalCatParent {
  margin: 20px 0;
}
.generalCatParent .generalCat .swiper .swiper-wrapper {
  padding: 35px 0;
}
.generalCatParent .generalCat .swiper .swiper-wrapper .categoriesCardParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.generalCatParent .generalCat .swiper .swiper-wrapper .categoriesCardParent .categoriesCard {
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  padding: 35px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .generalCatParent .generalCat .swiper .swiper-wrapper .categoriesCardParent .categoriesCard {
    padding: 20px;
    width: 100px;
    height: 100px;
  }
}
.generalCatParent .generalCat .swiper .swiper-wrapper .categoriesCardParent span {
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 480px) {
  .generalCatParent .generalCat .swiper .swiper-wrapper .categoriesCardParent span {
    font-size: 13px;
  }
}

.activeCat .categoriesCard {
  background-color: #ffde6b !important;
}
.activeCat span {
  color: #0055b6;
  font-weight: 600 !important;
}

.archiveProducts {
  margin-bottom: 50px;
}
.archiveProducts ul.products {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 20px;
}
.archiveProducts ul.products::before {
  content: none;
}
@media screen and (max-width: 480px) {
  .archiveProducts ul.products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
  }
}
.archiveProducts ul.products li.product {
  background-color: #fff;
  padding: 15px;
  border-radius: 25px;
  width: 100%;
  margin: 0;
  position: relative;
  transition: all 0.4s;
  border: 1px solid #fff;
}
.archiveProducts ul.products li.product::before {
  content: none;
}
.archiveProducts ul.products li.product:hover {
  background-color: #fafafa;
  border: 1px solid #efefef;
}
@media screen and (max-width: 480px) {
  .archiveProducts ul.products li.product {
    width: 100% !important;
    margin-bottom: 0 !important;
    position: unset;
    padding: 8px;
  }
}
@media screen and (max-width: 480px) {
  .archiveProducts ul.products li.product a {
    display: flex;
    flex-direction: column;
  }
}
.archiveProducts ul.products li.product a img {
  border: 1px solid #A1A1A1;
  border-radius: 25px;
  width: 260px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px auto 10px auto;
}
@media screen and (max-width: 480px) {
  .archiveProducts ul.products li.product a img {
    width: auto;
    height: auto;
  }
}
.archiveProducts ul.products li.product a .woocommerce-loop-product__title {
  text-align: center;
  color: #3f3f3f !important;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  .archiveProducts ul.products li.product a .woocommerce-loop-product__title {
    font-size: 16px;
    line-height: 18px;
  }
}
.archiveProducts ul.products li.product a .star-rating {
  margin: 0px auto 45px auto;
}
@media screen and (max-width: 480px) {
  .archiveProducts ul.products li.product a .star-rating {
    margin: 0px auto 10px auto;
    font-size: 10px;
  }
}
.archiveProducts ul.products li.product a .price {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #0055b6 !important;
}
@media screen and (max-width: 480px) {
  .archiveProducts ul.products li.product a .price {
    position: unset;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
  }
}
.archiveProducts ul.products li.product .product_type_variable {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  padding: 10px;
  background-color: #3f3f3f;
  transition: all 0.4s;
}
.archiveProducts ul.products li.product .product_type_variable:hover {
  background-color: #282828 !important;
}
@media screen and (max-width: 480px) {
  .archiveProducts ul.products li.product .product_type_variable {
    position: unset;
    margin-right: auto;
    margin-top: 0 !important;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}
.archiveProducts select {
  background-color: #c3d5e9 !important;
  padding: 10px !important;
  font-weight: 500;
  border: 1px solid #0e3f78;
}/*# sourceMappingURL=style-rtl.css.map */